.tabla{
  display: flex;
  align-content: center;
  align-items: center;
  margin: 2% 20%;
}
td{
  height: 60px;
  width: 60px;
  align-items: center;
}
@@media width-max(760px) {
  td{
    height: 20px;
    width: 30px;
    align-items: center;
  }
}
img{
  width: 80%;
}
.db_tabla button{
  margin-top: 2%;
}
